/* Change some variables before import
---------------------------------------- */
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$light-font: 'Trade Gothic W01 Light', Sans-serif;
$regular-font: 'Trade Gothic W01 Roman', Sans-serif;
$bold-font: 'Trade Gothic W01 Bold', Sans-serif;
$font-size-base: 16px;
$border-radius-base: 15px;
$pink: #ec2d83;
$blue: #00bbe2;
$grey: #7f8080;

/* Import Bootstrap
---------------------------------------- */
@import 'sass-bootstrap/lib/bootstrap';
// font-family:'TradeGothicW01-LightObl';
// font-family:'Trade Gothic W01 Roman';
// font-family:'Trade Gothic W01 Obl';
// font-family:'Trade Gothic W01 Bold';
// font-family:'TradeGothicW01-BoldObl';
// font-family:'Trade Gothic W01 Bold 2';
// font-family:'TradeGothicW01-Bold2Obl';
// font-family:'Trade Gothic W01 Cn 18';
// font-family:'TradeGothicW01-Cn18Obl';
// font-family:'TradeGothicW01-BoldCn20 675334';
// font-family:'TradeGothicW01-BoldCn20 675337';
// font-family:'TradeGothicW01-Extended';
// font-family:'TradeGothicW01-BoldExte';

/* Misc 
---------------------------------------- */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
:hover {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/* Typography
---------------------------------------- */
body {
  font-family: $regular-font;
  color: $grey;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $bold-font;
}
.light {
	font-family: $light-font;
}
a {
	color: #00bbe2;
	&:hover {
		text-decoration: none;
	}
}
/* Buttons
---------------------------------------- */
.btn {
	text-transform: uppercase;
	font-family: $bold-font;
	font-size: 1.5em;
	color: #FFF;
	padding: 30px 42px;
}
.btn-pink {
	background: $pink;
	border: none;
	&:hover {
		color: #FFF;
		background: darken($pink, 10%);
	}
}
.btn-blue {
	background: $blue;
	border: none;
	&:hover {
		color: #FFF;
		background: darken($blue, 10%);
	}
}
/* Header
---------------------------------------- */
.header {
	background: url('../images/header.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .branding {
		padding-top: 2.0em;
		a {
			color: #FFF;
			&:hover {
				background: transparent !important;
				color: darken(#FFF, 20%);
			}
		}
		img:hover {
			opacity: .7;
		}
		.social {
			font-size: 1.5em;
		}
	}
	.hero {
	  display: table-cell;
		vertical-align: middle;
		margin: 0;
		width: 100%;
		text-align: center;
		.description {
			width: 500px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -200px;
			margin-left: -250px;
			a {
				opacity: 1.0;
				&:hover {
					opacity: .5;
				}
			}
			h3 {
				color: #FFF;
				font-size: 1.5em;
			}
		}
		@media (max-width: $screen-sm-min) {
			.description {
				width: 300px;
				margin-left: -150px;
				height: 300px;
			}		
		}
	}
	.callout {
		background: $pink;
		h2 {
			color: #FFF;
			text-transform: uppercase;
			font-size: 7.0em;
		}
		// Shrink for mobile phones
		@media (max-width: $screen-md-min) {
			h2 {
				font-size: 5.0em;
				margin-bottom: .25em;
			}
		}
		@media (max-width: $screen-sm-min) {
			h2 {
				font-size: 2.0em;
				margin-bottom: .5em;
			}
		}
	}
}

/* All Modules
---------------------------------------- */
.module {
	background: #FFF;
	padding: 4.0em 0;
	h2 {
		text-transform: uppercase;
	}
}

/* Module One
---------------------------------------- */
.module-one {
	padding: 4.0em 0;
	@media (max-width: $screen-sm-min) { 
		padding: 2.0em 0;
	}
}

/* Module Two
---------------------------------------- */
.module-two {
	padding: 0;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.col-sm-6 {
		padding-left: 0px;
		padding-right: 0px;
	}
	img {
		width: 100%;
	}
	.btn {
		margin: 2.0em 0;
	}
	@media (max-width: $screen-sm-min) { 
		padding: 0;
		p {
			margin: 0;
		}
		.btn {
			display: block;
			border-radius: 0;
			margin: 0;
		}
		.description {
			.pink, .blue {
				text-align: center;
			}
		}
	}
}
/* Module Three
---------------------------------------- */
.module-three {
	padding: 2.5em 0;
	border-top: 1px solid;
	border-color: $grey;
	border-bottom: 0px solid;
	h2, h3{
		margin: 0;
	}
}
/* Module Four
---------------------------------------- */
.module-four {
	padding: 4.0em 0;
		.col-sm-6 {
	
		border-right: 1px solid;
		border-color: $grey;
	}
	.description {
		padding: 2.0em 0;
		.blue {
			color: $blue;
			text-align: left;
		}
		.pink {
			color: $pink;
			text-align: left;
		}
	
	}
	@media (max-width: $screen-sm-min) { 
		padding: 2.0em 0;
		.btn {
			margin-bottom: 1.0em;
		}
		.description {
			.pink, .blue {
				text-align: center;
			}
		}
	}
}
/* Module Five
---------------------------------------- */
.module-five {
background: #00b6d3;
color: #fff;
	padding: 4.0em 0;
	border-top: 0px solid;
	border-color: $grey;
	@media (max-width: $screen-sm-min) { 
		text-align: center;
	}
}

/* Module Six
---------------------------------------- */
.module-six {
	border-bottom: 1px solid;
	
	padding: 4.0em 0;
	h3 {
		font-size: 1.5em;
		text-transform: uppercase;
		line-height: 1.5em;
		margin-top: 0;
	}
	p {
		font-size: .85em;
		color: $grey;
	}
	// Mobile Tweaks
	@media (max-width: $screen-sm-min) { 
		text-align: center;
		h3 {
			font-size: 1.0em;
			line-height: 1.2em;
		}
 		img { 
 			max-width: 100%;
 			height: auto;
 			margin: 1.0em 0;
 		}
	}
}

/* Module Seven
---------------------------------------- */
.module-seven {
	border-bottom: 1px solid $grey;
	padding: 4.0em 0 2.0em 0;
	img {
		max-width: 130px;
	}
	.sponsors {
		margin: 4.0em 0 2.0em 0;
		img {
			margin-bottom: 2.0em;
		}
		a {
			&:hover {
				opacity: .8;
			}
		}
	}
	@media (max-width: $screen-sm-min) { 
		.sponsors {
			img {
				max-width: 100%;
			}
		}
	}
}
/* Footer
---------------------------------------- */
